<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Restaurant Apps</title>

  <!--  Google Font  -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap"
        rel="stylesheet"/>

  <link rel="apple-touch-icon" href="/icon.png">
  <link rel="icon" href="/icon.png">
  <link rel="manifest" href="./app.webmanifest">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
</head>
<body>
  <a href="#resto-list" class="skip-link">Menuju ke konten</a>
  <header>
    <resto-app-bar id="appBar"></resto-app-bar>
  </header>
  <main id="mainContent"></main>
  <footer>
    <resto-footer></resto-footer>
  </footer>
</body>
</html>
