$primary-color: floralwhite;
$primary-red: #bf1722;
$primary-font-family: 'SUSE', 'sans-serif';
$min-size: 44px;

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: $primary-font-family;
  background-color: $primary-color;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  padding: 8px;
  background-color: $primary-red;
  color: white;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.skip-link:focus {
  top: 0;
  min-width: $min-size;
  min-height: $min-size;
}
